.ChatBody{
    display: flex;
    flex-direction: column;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    flex: 0.98;
    background-repeat: repeat;
    background-position: center;
    overflow-y: auto;
}